<template>
  <NoteEditor />
</template>

<script>
import NoteEditor from "../components/NoteEditor";
export default {
  name: "NewNote",
  components: {
    NoteEditor
  }
};
</script>

<style scoped></style>
