<template>
  <div>
    <h1 class="light">My Notes</h1>
    <transition-group
      name="list-complete"
      tag="div"
      class="notes-board list-complete"
    >
      <div
        v-for="(note, i) in notes"
        :key="note.id"
        :class="`note-colour_${randomNumber(i + 1)}`"
        class="list-complete-item note"
      >
        <NoteListItem @delete="deleteNoteAlert(note.id)" :note="note" />
      </div>
      <button
        @click="addNote"
        key="add-note"
        class="add-note list-complete-item"
      >
        <Tooltip text="Добавить заметку" />
      </button>
    </transition-group>
    <Modal
      @closeModal="closeModal"
      @confirm="deleteNote"
      @decline="closeModal"
      :modalData="modalData"
    />
  </div>
</template>

<script>
import { mapGetters } from "vuex";
import Tooltip from "../components/Tooltip";
import NoteListItem from "../components/NoteListItem";
import Modal from "../components/Modal";
import { closeModal } from "../mixins/close-modal";
import { deleteNote } from "../mixins/delete-note";
export default {
  name: "Notes",
  components: {
    Tooltip,
    NoteListItem,
    Modal
  },
  mixins: [closeModal, deleteNote],
  data: () => ({
    noteToDelete: null,
    modalData: null
  }),
  computed: {
    ...mapGetters(["notes"])
  },
  methods: {
    deleteNote() {
      try {
        this.$store.dispatch("deleteNote", this.noteToDelete);
        this.noteToDelete = null;
        this.closeModal();
      } catch (e) {
        console.error(e);
        throw e;
      }
    },
    addNote() {
      this.$router.push("notes/new");
    },
    closeModal() {
      this.noteToDelete = null;
      this.modalData = null;
    },
    randomNumber(num) {
      return Math.floor(Math.random() * num);
    }
  }
};
</script>

<style lang="less">
.light {
  font-weight: lighter;
  font-size: 40px;
}
.notes-board {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  .note,
  .add-note {
    flex-grow: 1;
    flex-basis: calc(25% - 10px);
    margin: 5px;
  }
  .note {
    .todo-info {
      position: absolute;
      bottom: 10px;
      left: 10px;
    }
    .delete {
      position: absolute;
      top: 10px;
      right: 10px;
    }
    .readonly {
      zoom: 0.7;
      opacity: 0.6;
      cursor: text;
      .todo-item {
        cursor: text;
        .todo-switch {
          cursor: text;
        }
      }
    }
    a {
      transition: color.3s;
    }
    &:hover {
      box-shadow: 0px 0px 65px rgba(0, 0, 0, 0.38);
      transform: scale(1.05);
      a {
        color: #03a5ed;
      }
    }
  }
  .add-note {
    background: none;
    min-height: 140px;
    padding: 17px 22px;
    border: 3px dashed grey;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
    transition: all 0.3s;
    max-width: calc(50% - 10px);
    &:before,
    &:after {
      content: "";
      display: block;
      width: 40px;
      height: 3px;
      background: grey;
      position: absolute;
      transition: all 0.3s;
    }
    &:after {
      transform: rotate(90deg);
    }
    &:hover,
    &:focus {
      background: rgba(4, 154, 225, 0.17);
      &:before,
      &:after {
        width: 50px;
        height: 5px;
      }
      .tooltip {
        display: block;
      }
    }
  }
}
@media screen and (max-width: 600px) {
  .notes-board {
    .add-note {
      max-width: unset;
      min-width: calc(50% - 10px);
    }
  }
}
</style>
