<template>
  <NoteEditor :id="id" />
</template>

<script>
import NoteEditor from "../components/NoteEditor";
export default {
  name: "Note",
  props: ["id"],
  components: {
    NoteEditor
  }
};
</script>

<style scoped></style>
