<template>
  <div>
    <transition name="fade">
      <div v-if="modalData" class="overlay"></div>
    </transition>
    <transition name="bounce">
      <div v-if="modalData" class="modal-container">
        <div class="modal">
          <span @click="closeModal" class="close-modal"></span>
          <h4>{{ modalData.text }}</h4>
          <span v-if="modalData.subtitle">{{ modalData.subtitle }}</span>
          <slot></slot>
          <div class="actions">
            <button @click="confirm" class="action-button submit">
              {{ modalData.confirmButtonText }}
            </button>
            <button @click="decline" class="action-button cancel">
              {{ modalData.declineButtonText }}
            </button>
          </div>
        </div>
      </div>
    </transition>
  </div>
</template>

<script>
export default {
  name: "Modal",
  props: {
    modalData: {
      type: Object,
      default: null
    }
  },
  methods: {
    closeModal() {
      this.$emit("closeModal");
    },
    confirm() {
      if (this.modalData.confirmAction) {
        this.$emit(`${this.modalData.confirmAction}`);
      } else {
        this.$emit("confirm");
      }
    },
    decline() {
      if (this.modalData.declineAction) {
        this.$emit(`${this.modalData.declineAction}`);
      } else {
        this.$emit("decline");
      }
    }
  }
};
</script>

<style lang="less">
.overlay {
  display: block;
  background: #000000ab;
  box-shadow: 0px 0px 58px rgba(0, 0, 0, 0.68);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  z-index: 10;
}
.modal-container {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 20;
  left: 0;
  top: 0;
  .modal {
    box-shadow: 0px 0px 58px rgba(82, 47, 32, 0.68);
    display: block;
    width: 80%;
    max-width: 500px;
    margin: 200px auto;
    background: #fff;
    padding: 20px 25px;
    border-radius: 5px;
    z-index: 100;
    position: relative;
    height: auto;
    .close-modal {
      position: absolute;
      height: 30px;
      width: 30px;
      right: -30px;
      top: -30px;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      &:hover {
        &:before,
        &:after {
          background: #e29189;
        }
      }
      &:before,
      &:after {
        content: "";
        display: block;
        width: 40px;
        height: 8px;
        border-radius: 5px;
        background: #faa098;
        position: absolute;
        transition: all 0.3s;
        transform: rotate(45deg);
      }
      &:after {
        transform: rotate(-45deg);
      }
    }
    .actions {
      margin-top: 25px;
      display: flex;
      justify-content: center;
      .action-button {
        width: auto;
        &:first-child {
          margin-right: 10px;
        }
      }
    }
  }
}
@media screen and (max-width: 650px) {
  .modal-container {
    .modal {
      .actions {
        flex-direction: column;
        .action-button {
          &:first-child {
            margin-right: 0;
            margin-bottom: 10px;
          }
        }
      }
    }
  }
}
</style>
