<template>
  <div>
    <Loader v-if="loading" />
    <div v-else class="note-container">
      <!--заметка-->
      <div class="note">
        <span v-if="!editTitle" class="edit-title">
          <h3>{{ noteData.title }}</h3>
          <button @click="editTitleStart" class="action-button icon-button">
            <Tooltip text="Редактировать заголовок" />
            <img class="icon" src="@/assets/edit.svg" alt="" />
          </button>
        </span>
        <input
          v-else
          ref="editTitle"
          @blur="editTitleEnd"
          @keypress.enter="editTitleEnd"
          @keyup.esc="editTitleEnd"
          v-model="noteData.title"
          type="text"
          class="title-input"
        />
        <transition-group name="list-complete" tag="div" class="list-complete">
          <div
            v-for="todo in noteData.todoList"
            :key="todo.id"
            class="todo-list list-complete-item"
          >
            <div class="todo-list-item">
              <TodoItem v-if="editTodo !== todo.id" :todo="todo" />
              <input
                v-else
                ref="editTodoText"
                @blur="editTodoEnd"
                @keypress.enter="editTodoEnd"
                @keyup.esc="editTodoEnd"
                v-model="todo.text"
                type="text"
              />
              <div class="actions">
                <button
                  @click="editTodoStart(todo.id)"
                  class="action-button icon-button small"
                >
                  <img class="icon" src="@/assets/edit.svg" alt="" />
                </button>
                <button
                  @click="deleteTodoItem(todo.id)"
                  class="action-button icon-button small delete"
                >
                  <img class="icon" src="@/assets/trash.svg" alt="" />
                </button>
              </div>
            </div>
          </div>
        </transition-group>
        <button @click="addTodo" class="action-button icon-button add-todo">
          <img class="icon" src="@/assets/plus.svg" alt="" />
        </button>
      </div>
      <!--кнопки-действия-->
      <div class="actions-container">
        <div class="edit-buttons">
          <button
            :disabled="actualData === 0"
            @click="stepBack"
            class="action-button icon-button"
          >
            <img class="icon" src="@/assets/forward.svg" alt="" />
          </button>
          <button
            :disabled="actualData === newNoteData.length - 1"
            @click="stepForward"
            class="action-button icon-button"
          >
            <img class="icon" src="@/assets/forward.svg" alt="" />
          </button>
          <button
            @click="deleteNoteAlert"
            class="action-button icon-button cancel"
          >
            <img class="icon" src="@/assets/trash.svg" alt="" />
          </button>
        </div>
        <div class="actions">
          <button
            @click="saveChanges"
            :disabled="!noteModified"
            class="action-button submit"
          >
            Сохранить
          </button>
          <button
            @click="cancelAlert"
            :disabled="!noteModified"
            class="action-button cancel"
          >
            Отмена
          </button>
        </div>
      </div>
      <router-link to="/notes"><h3 class="home-link">My Notes</h3></router-link>
    </div>
    <Modal
      @closeModal="closeModal"
      @confirm="deleteNote"
      @decline="closeModal"
      @cancelEditing="cancelEditing"
      @saveNewTodo="saveNewTodo"
      :modalData="modalData"
    >
      <div v-if="newTodo !== null">
        <input
          v-model.trim="newTodo"
          @keypress.enter="saveNewTodo"
          ref="newTodo"
          type="text"
          placeholder="Введите текст задачи"
        />
      </div>
    </Modal>
  </div>
</template>

<script>
import { mapGetters } from "vuex";
import TodoItem from "./TodoItem";
import Tooltip from "./Tooltip";
import Loader from "./Loader";
import Modal from "./Modal";
import _ from "lodash";
import { MyFunctions } from "@/helpers/idGenerator";
import { closeModal } from "../mixins/close-modal";
import { deleteNote } from "../mixins/delete-note";
export default {
  name: "Todo",
  props: {
    id: {
      type: String,
      default: ""
    }
  },
  components: {
    TodoItem,
    Tooltip,
    Loader,
    Modal
  },
  mixins: [closeModal, deleteNote],
  data: () => ({
    loading: false,
    note: {},
    editTitle: false,
    editTodo: "",
    editStatus: "initial",
    actualData: -1,
    noteData: {},
    newNoteData: [],
    noteModified: false,
    newTodo: null,
    modalData: null
  }),
  computed: {
    ...mapGetters(["noteById"])
  },
  // следим за изменениям в заметке
  watch: {
    noteData: {
      handler: function() {
        this.noteModified = !_.isEqual(this.noteData, this.note) ? true : false;
        this.setDebouncedNote();
      },
      deep: true
    }
  },
  methods: {
    // вызов модяльного окна для добавления новой задачи
    async addTodo() {
      this.newTodo = "";
      this.modalData = {
        text: "Новая задача",
        confirmButtonText: "Добавить задачу",
        declineButtonText: "Отмена",
        confirmAction: "saveNewTodo"
      };
      await this.$nextTick();
      this.$refs.newTodo.focus();
    },
    // добавляем новую задачу
    saveNewTodo() {
      const newTodoId = MyFunctions.generateUID();
      let newTodoObject = {
        id: newTodoId,
        text: this.newTodo,
        done: false
      };
      this.noteData.todoList.push(newTodoObject);
      this.closeModal();
    },
    // удаление заметки
    deleteNote() {
      this.loading = true;
      this.closeModal();
      try {
        this.$store.dispatch("deleteNote", this.id);
        setTimeout(() => {
          this.$router.replace("/notes");
        }, 1500);
      } catch (e) {
        console.error(e);
        this.loading = false;
        throw e;
      }
    },
    // сохранение изменений
    saveChanges() {
      this.loading = true;
      try {
        this.$store.dispatch("saveNote", this.noteData);
        setTimeout(() => {
          this.$router.replace("/notes");
        }, 1500);
      } catch (e) {
        console.error(e);
        this.loading = false;
        throw e;
      }
    },
    // окно подтверждения отмены внесённых изменений
    cancelAlert() {
      this.modalData = {
        text: "Отменить редактирование?",
        subtitle: "Внесённые изменения будут удалены",
        confirmButtonText: "Да, отменить",
        declineButtonText: "Продолжить редактирование",
        confirmAction: "cancelEditing"
      };
    },
    // отмена внесённых изменений
    cancelEditing() {
      this.closeModal();
      setTimeout(() => {
        this.$router.replace("/notes");
      }, 200);
    },
    // закрываем модальное окно
    closeModal() {
      this.modalData = null;
      if (this.newTodo !== null) {
        this.newTodo = null;
      }
    },
    // редактируем пункт todo
    async editTodoStart(id) {
      this.editTodo = id;
      await this.$nextTick();
      this.$refs.editTodoText[0].focus();
    },
    // завершаем редактирование пункта todo
    editTodoEnd() {
      this.editTodo = "";
    },
    // удаляем пункт todo
    deleteTodoItem(id) {
      const arr = _.remove(this.noteData.todoList, function(n) {
        return n.id !== id;
      });
      this.noteData.todoList = arr;
    },
    // редактируем заголовок заметки
    async editTitleStart() {
      this.editTitle = true;
      await this.$nextTick();
      this.$refs.editTitle.focus();
    },
    // завершаем редактирование заголовка заметки
    editTitleEnd() {
      this.editTitle = false;
    },
    // устанавливаем актуальные данные заметки
    setNewNote() {
      // если не было действия stepBack/stepForward - сохраняем новый вариант заметки в массив
      if (this.editStatus === "initial") {
        if (this.newNoteData.length > this.actualData + 1) {
          for (let i = this.newNoteData.length; i > this.actualData; i--) {
            this.newNoteData.splice(i, 1);
          }
        }
        const data = _.cloneDeep(this.noteData);
        if (!_.isEqual(this.newNoteData[this.actualData], data)) {
          this.newNoteData.push(data);
          this.actualData++;
        }
      }
      this.editStatus = "initial";
    },
    // добавляем данные заметки для редактирования
    setNoteData() {
      this.noteData = _.cloneDeep(this.note);
      this.noteModified = false;
      this.setNewNote();
    },
    // отмена изменения
    stepBack() {
      this.actualData--;
      this.$nextTick();
      this.editStatus = "stepBack";
      this.noteData = _.cloneDeep(this.newNoteData[this.actualData]);
    },
    // возврат осмененного изменения
    stepForward() {
      this.actualData++;
      this.$nextTick();
      this.editStatus = "stepForward";
      this.noteData = _.cloneDeep(this.newNoteData[this.actualData]);
    }
  },
  mounted() {
    // проверяем, есть ли переданный id, сли да - загружаем заметку и редактируем, иначе создаем новую
    if (this.id === "new") {
      const newNoteId = MyFunctions.generateUID();
      this.note = {
        id: newNoteId,
        title: "Новая Заметка",
        todoList: []
      };
    } else {
      this.note = this.noteById(this.id);
    }
    this.setNoteData();
    this.setDebouncedNote = _.debounce(this.setNewNote, 500);
  }
};
</script>

<style lang="less">
.note-container {
  width: 100%;
  max-width: 600px;
  margin: auto;
  .note {
    .todo-list {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      .todo-list-item {
        width: 100%;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-bottom: 10px;
        .actions {
          margin: 0;
          display: flex;
          .icon-button:first-child {
            margin-left: 0;
          }
        }
      }
    }
  }
}
.actions-container {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  .edit-buttons {
    display: flex;
    .action-button {
      &:not(:disabled) {
        background: #8ecafe;
      }
      &:first-child {
        img {
          transform: scale(-1, 1);
        }
      }
      &.cancel {
        background: rgba(250, 160, 152, 0.56);
      }
    }
  }
  .actions {
    display: flex;
    margin-left: 25px;
    .action-button:first-child {
      margin-right: 5px;
    }
  }
}
@media screen and (max-width: 560px) {
  .actions-container {
    flex-direction: column;
    .edit-buttons {
      justify-content: space-evenly;
      .action-button {
        margin: 0;
      }
    }
    .actions {
      margin-top: 20px;
      justify-content: center;
      margin-left: 0;
      .action-button {
        width: 50%;
        &:first-child {
          margin-right: 10px;
        }
      }
    }
  }
}
.edit-title {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
}
button.icon-button {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-left: 10px;
  padding: 5px;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  &:hover,
  &:focus {
    color: #000;
    background: rgba(3, 169, 244, 0.56);
    .tooltip {
      display: block;
    }
  }
  &.delete {
    &:hover,
    &:focus {
      background: rgba(250, 160, 152, 0.56);
    }
  }
  .icon {
    height: 20px;
  }
  &.small {
    height: 25px;
    width: 25px;
    .icon {
      height: 15px;
    }
  }
  &.add-todo {
    position: absolute;
    margin: 0;
  }
}
.title-input {
  margin: 13px;
}
.home-link {
  margin-top: 80px;
}
</style>
