<template>
  <div>
    <button
      @click="deleteItem(note.id)"
      class="action-button icon-button small delete"
    >
      <img class="icon" src="@/assets/trash.svg" alt="" />
    </button>
    <router-link :to="`/notes/${note.id}`">
      <h3>{{ note.title }}</h3>
    </router-link>
    <div
      v-for="(todo, i) in note.todoList"
      :key="todo.id"
      class="todo-list readonly"
    >
      <TodoItem v-if="i <= 2" :todo="todo" :disabled="true" />
    </div>
    <span v-if="note.todoList.length > 3" class="todo-info"
      >+ {{ note.todoList.length - 3 }} задач</span
    >
  </div>
</template>

<script>
import TodoItem from "../components/TodoItem";
export default {
  name: "NoteListItem",
  props: {
    note: {
      type: Object,
      default: null
    }
  },
  components: {
    TodoItem
  },
  methods: {
    deleteItem(id) {
      this.$emit("delete", id);
    }
  }
};
</script>

<style scoped></style>
