<template>
  <label class="todo-item">
    <input
      type="checkbox"
      name="check"
      class="todo-switch"
      v-model="todo.done"
      :disabled="disabled"
    />
    <span class="todo-text">{{ todo.text }}</span>
  </label>
</template>

<script>
export default {
  name: "todoItem",
  props: {
    todo: {
      type: Object,
      default: null
    },
    disabled: {
      type: Boolean,
      default: false
    }
  }
};
</script>

<style lang="less" scoped>
.todo-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  cursor: pointer;
  margin-right: 10px;
  .todo-switch[type="checkbox"] {
    position: relative;
    width: 55px;
    height: 25px;
    -webkit-appearance: none;
    background: #ff9c92;
    outline: none;
    border-radius: 20px;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
    transition: all 0.5s;
    margin: 0 15px 0 0;
    cursor: pointer;
    &:focus {
      box-shadow: 0 0 5px rgb(0, 0, 0);
    }
    &:before {
      content: "";
      position: absolute;
      width: 25px;
      height: 25px;
      border-radius: 20px;
      top: 0;
      left: 0;
      background: #fff;
      transform: scale(0.9);
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
      transition: 0.5s;
    }
    &:checked {
      background: #03a9f4;
      &:before {
        left: 30px;
      }
      ~ .todo-text {
        text-decoration: line-through;
        opacity: 0.6;
      }
    }
  }
  .todo-text {
    font-size: 20px;
    transition: opacity 0.3s;
  }
}
</style>
