<template>
  <span class="tooltip">{{ text }}</span>
</template>

<script>
export default {
  name: "Tooltip",
  props: {
    text: {
      type: String,
      default: null
    }
  }
};
</script>

<style lang="less" scoped>
.tooltip {
  position: absolute;
  width: auto;
  bottom: 105%;
  left: 50%;
  margin-left: -60px; /* Use half of the width (120/2 = 60), to center the tooltip */
  display: none;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  z-index: 1;
  opacity: 0.4;
  outline: none;
  &:after {
    content: "";
    position: absolute;
    top: 100%; /* At the bottom of the tooltip */
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
  }
}
</style>
