@success: #8ecafe;
@cancel: #ff9c92;

* {
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  height: 100%;
  min-height: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden;
}
body {
  background: #f0efe9;
  font-family: "Comfortaa", cursive;
  box-sizing: border-box;
  overflow: auto;
}
input {
  height: 30px;
  padding: 0 10px;
  width: 80%;
  max-width: 300px;
  font-size: 18px;
  font: inherit;
}

.note {
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.18);
  padding: 20px 25px 50px 25px;
  box-sizing: border-box;
  background: #fff;
  position: relative;
}
.notes-board {
  .note {
    position: relative;
    &.note-colour {
      &_0 {
        background: #fff7c4;
      }
      &_1 {
        background: rgba(186, 255, 183, 0.75);
      }
      &_2 {
        background: rgba(255, 219, 195, 0.71);
      }
      &_3 {
        background: rgba(207, 211, 255, 0.76);
      }
      &_4 {
        background: rgba(254, 217, 255, 0.75);
      }
      &_5 {
        background: #afe2dc;
      }
      &_6 {
        background: rgba(255, 234, 197, 0.76);
      }
      &_7 {
        background: rgba(210, 208, 255, 0.76);
      }
      &_8 {
        background: rgba(255, 219, 224, 0.73);
      }
      &_9 {
        background: rgba(224, 255, 190, 0.71);
      }
      &_10 {
        background: rgba(224, 255, 234, 0.73);
      }
    }
  }
}
.action-button {
  font-family: "Comfortaa", cursive;
  border: none;
  border-radius: 5px;
  color: #000;
  display: block;
  font-size: 16px;
  padding: 10px 20px;
  position: relative;
  transition: all 0.3s;
  cursor: pointer;
  &:hover {
    color: #fff;
  }
  &.submit {
    background: @success;
    &:hover {
      background: #03a9f4;
    }
    &:active {
      background: #0495d4;
      color: #fff;
    }
  }
  &.cancel {
    background: @cancel;
    &:hover {
      background: #dc8a83;
    }
    &:active {
      background: #b06d67;
      color: #fff;
    }
  }
  &:disabled {
    background: #b7b7b7;
    cursor: not-allowed;
    &:hover {
      background: #b7b7b7;
      color: #000;
    }
  }
}

/* Анимация перехода между страницами */
.slide-fade-enter-active {
  transition: all 0.3s ease;
}
.slide-fade-leave-active {
  transition: all 0.8s cubic-bezier(1, 0.5, 0.8, 1);
}
.slide-fade-enter, .slide-fade-leave-to
  /* .slide-fade-leave-active до версии 2.1.8 */ {
  transform: translateX(10px);
  opacity: 0;
}
/* ! Анимация перехода между страницами */

/* Анимация модального окна */
.bounce-enter-active {
  animation: bounce-in 0.5s;
}
.bounce-leave-active {
  animation: bounce-in 0.5s reverse;
}
@keyframes bounce-in {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
/* ! Анимация модального окна */

/* Анимация overlay для модального окна */
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.3s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active до версии 2.1.8 */ {
  opacity: 0;
}
/* ! Анимация overlay для модального окна */

/* Анимация для списка notes и todo*/
.list-complete {
  position: relative;
}
.list-complete-item {
  transition: all 1s;
  display: inline-block;
}
.list-complete-enter, .list-complete-leave-to
  /* .list-complete-leave-active до версии 2.1.8 */ {
  opacity: 0;
  transform: translateY(30px);
}
.list-complete-leave-active {
  position: absolute;
  width: 100%;
}
/* ! Анимация для списка notes и todo*/
